@{
    //var student = (SeminarskiTemp1.EntityModels.Student)ViewData["student"];
    //var opstina = (List<SeminarskiTemp1.EntityModels.Opstina>)ViewData["opstine"];
    //var fakulteti = (List<SeminarskiTemp1.EntityModels.Fakultet>)ViewData["fakulteti"];

    string[] niz = { "Ime", "Prezime", "DatumRodjenja", "Opstina", "Fakultet", "BrojIndeksa" };
    Layout = null;
}
@model StudentDetaljiVM
<style>


    .klasa {
        border: 1px solid black;
    }

        .klasa input, select {
            margin: 2px 10px 10px 0px;
            width: 400px;
            padding: 5px;
            border: none;
        }

    .klasa div{
        margin-left:10px
    }
</style>
<div class="klasa">
    <div>
        <h4 class="text-success">Detalji studenta</h4>
    </div>
    <div>
        <label>Ime : </label>
        <input asp-for="Ime" readonly />
    </div>

    <div>
        <label>Prezime : </label>
        <input asp-for="Prezime" readonly />
    </div>
    <div>
        <label>Datum Rodjenja : </label>
        <input asp-for="DatumRodjenja" readonly />
    </div>
    <div>

        <label>Opstina : </label>
        <input asp-for="Opstina" readonly />



    </div>
    <div>
        <label>Fakultet : </label>
        <input asp-for="Fakultet" readonly />
    </div>

    <div>

        <label>Broj Indeksa : </label>
        <input asp-for="BrojIndeksa" readonly />

    </div>
</div>