

<html>

<style type="text/css">
    #mojID {
        padding: 5px;
        margin: 5px 5px 5px 0px;
        width: 200px;
    }

    form {
        float: left;
    }

    #buton {
        float: right;
        margin: 5px;
    }
</style>
<body>
    @{
        //var studenti = (List<SeminarskiTemp.EntityModels.Student>)ViewData["studenti"];
        //var q = ViewData["q"];
        @model StudentPrikazVM
    }
    <form>

        <input name="student" id="mojID" value="@Model.q" />
        <input type="submit" value="Trazi" class="btn btn-info" />

    </form>
    <button type="button" id="buton" class="btn btn-info" onclick="window.location='/Seminarski/Uredi'">Dodaj Studenta</button>
    <table class="table">
        <thead class="thead">
            <tr>
                <th>Ime i prezime</th>


            </tr>
        </thead>
        @foreach (StudentPrikazVM.Row item in Model.studenti)
        {
            <tr>
                <td>@item.Ime @item.Prezime</td>
                <th style="color:blue;"><span onclick="window.location='/Seminarski/Detalji?student='+@item.ID" style="cursor:pointer">Detalji</span></th>
                <th style="color:red">  <span onclick="window.location='/Seminarski/Obrisi?ID='+@item.ID" style="cursor:pointer">Obrisi</span></th>
                <th style="color:yellow">  <span onclick="window.location='/Seminarski/Uredi?StudentID='+@item.ID" style="cursor:pointer">Uredi</span></th>
            </tr>
        }
    </table>




</body>
</html>

